@import "bootstrap-sprockets";
@import "bootstrap";

.container{
    width: 2500px;
    margin: 0 auto;
   
}

.box {
    float: left;
    height: 500px;
    width: 500px;
    background-color: cyan;
    margin: 50px;
}

.boxtwo {
    float: left;
    height: 500px;
    width: 500px;
    background-color: yellow;
    margin: 50px;
}
.boxthree {
    float: left;
    height: 500px;
    width: 500px;
    background-color: pink;
    margin: 50px;
}
.boxfour {
    float: left;
    height: 500px;
    width: 500px;
    background-color: purple;
    margin: 50px;
}